body{
    height: 100%;
    width: auto;
    background-color: #ddd;
 
}
header{
    font-family: verdana;
    text-align: center;
}
table {
  font-family: arial, sans-serif;
   float: left;
    padding-left: 5%;
    height: auto;
    width: 70%;

  
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
p{
    margin-left: 15%;
    margin-right: 15%;
    
}
hr{
    clear: both;
}
td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 1%;
    border: solid;
}


.c{
    text-align: center; /*centering text*/
    
}
.w{
    background-color: white;
}
img{
    width: 10%;
    height: auto;
    margin-left: 2%;
    border: solid;
    
}
iframe{
margin-left: 5%;
}   

ul {                        /*Navigator start*/
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
    padding-left: 5%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #222;
}

.active {
  background-color:#977;


}
@media only screen and (max-width: 600px) {
  img{
    width: 40%;
    height: auto;
    margin-left: 2%;
    border: solid;
    }
  li {
  float: left;
   
}
    p{
    margin-left: 4%;
    margin-right: 4%;
    
}
    h4{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}
}
